Dockerfile.*
kubernetes*
*.md
Jenkinsfile
.dockerignore
.cop
.git*
.gitignore

node_modules
dist
build
.out

logs
*.log
*.out
*.pid
*.seed
*.tgz
.dump

.env
.env.local
.env.example
.env.test

.npm
.yarn

.vscode
.idea
*.swp
*.swo
